[RASPBERRY]
MODEL=Rasberry Pi Model 2B v1.1

[GPIO_0]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_1]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_2]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_3]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_4]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_5]
MODE=IN
NAME=HAUPTSCHALTER_BEWAESSERUNG
DESCRIPTION=

[GPIO_6]
MODE=OUT
NAME=HAUPTWASSER
DESCRIPTION=

[GPIO_7]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_8]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_9]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_10]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_11]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_12]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_13]
MODE=OUT
NAME=KUECHE_PAVILLION
DESCRIPTION=

[GPIO_14]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_15]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_16]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_17]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_18]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_19]
MODE=OUT
NAME=GARAGE
DESCRIPTION=

[GPIO_20]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_21]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_22]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_23]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_24]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_25]
MODE=IN
NAME=
DESCRIPTION=

[GPIO_26]
MODE=OUT
NAME=BEET_EINGANG
DESCRIPTION=

[GPIO_27]
MODE=IN
NAME=
DESCRIPTION=
